{% extends 'base.html' %}
{% block content %}
{{msg}}
<form class="form-group" method="POST" action="loginuser">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter Username" required>
      
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}